body {
    background-color: #c2fa9d;
    background-image: url('https://pvlida.by/media/k2/items/cache/227c76257ce00463a256eb550ac248c6_XL.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}